{% extends "base.html" %}

{% block content %}
<body>
<button class="button is-white"></button>
<div class="tile is-parent">
      <article class="tile is-child notification is-white">
        <p class="title" align="middle">CHERCHER UN CANDIDAT</p>
        <p class="title" align="middle">CHERCHER UN CANDIDAT</p>
        </div>
      </article>
  </div>
</form>
<div class="column is-5 is-offset-4">

 <form action ="http://localhost:5000/Admin/search" method = "post">

  <div class="control">
    <input class="input"  name="victor" type="text" placeholder="Prenom d'un candidat">
  </div>
  <input type="hidden" name="btn_identifier"  value="commande" />
  <div> </div>
  &nbsp;
  <div class="control">
    <button class="button is-primary" type="submit" >
      Chercher
    </button>
  </div>
</div>


</form>
</body>
{% endblock %}