{% extends "base.html" %}

{% block content %}
<div class="tile is-parent">
    <article class="tile is-child notification is-white">
</div>
</article>
</div>
<div class="tile is-parent">
      <article class="tile is-child notification is-white">
        <p class="title" align="middle">CREDITS</p>
        </div>
      </article>
  </div>
<div class="content">
        <p  align="left"> <h1>Les Développeurs</h1></p>
  </div>
<div class="columns">
<div class="column is-2">
<figure class="image is-128x128">
<a href="https://www.linkedin.com/in/flavien-ledeux-8841a517b/?originalSubdomain=fr">
  <img class="is-rounded"src="{{url_for('static', filename='flavien.png')}}" style="width:100%" alt='Logo IMT'>
  </a>
  </figure>
  </div>
  <div class="column"> <div class="content"> <h2>Flavien Ledeux</h2> <p> Etudiant à TELECOM Nancy</p>
  <a href="https://www.linkedin.com/in/flavien-ledeux-8841a517b/?originalSubdomain=fr">En savoir plus sur Flavien</a></div>
  </div></div>
 <div class="columns">
  <div class="column is-2">
  <figure class="image is-128x128">
        <img class="is-rounded" src="{{url_for('static', filename='Photo_Guilhem_Roura_Carre.jpg')}}" style="width:100%" alt='Logo IMT'>
      </figure>
    </div>
    <div class="column"> <div class="content"><h2> Guilhèm Roura </h2> <p> Etudiant à TELECOM Nancy</p>
    <a href="https://gitlab.telecomnancy.univ-lorraine.fr/Guilhem.Roura">En savoir plus sur Guilhèm</a>
  </div>
  </div> </div>
<div class="columns">
<div class="column is-2">
<figure class="image is-128x128">
        <img class="is-rounded" src="{{url_for('static', filename='Celine.jpg')}}" style="width:100%" alt='Logo IMT'>
      </figure>
    </div>
    <div class="column"> <div class="content"> <h2> Céline Zhu </h2> <p>Etudiante à TELECOM Nancy</div>
    <a href="https://gitlab.telecomnancy.univ-lorraine.fr/Celine.Zhu">En savoir plus sur Céline</a></div>
  </div>
</div></div>
<div class="content">
         <h1>Les Professeurs</h1>
        <ul>
      <li>Sébastien Da Silva </li>
      <p>&nbsp; </p>
      <li>Gérald Oster </li>
    </ul>
  </div>
<div class="content">
         <h1>Les Sources</h1>
        <ul>
     <li><a href= " https://fr.wikipedia.org/wiki/MySQL">MySQL-wiki</a></li>

<li><a href=" https://fr.wikipedia.org/wiki/SQLite">SQLite-wiki</a></li>
<li><a href=" https://wiki.developpez.com/Qt">Qt </a></li>
<li><a href= " https://fr.wikipedia.org/wiki/JavaFX">JavaFx</a></li>
 
<li><a href=" https://flask.palletsprojects.com/en/2.0.x/">Flask</a>

<li><a href= " https://devhints.io/bash">bash</a>
<li><a href=" https://pythonexamples.org/python-convert-html-to-pdf/">python2pdf</a></li>
<li><a href=" https://www.sqlite.org/quickstart.html"></a>SQlite</li>

<li><a href=" https://docs.python.org/3/">Python 3</a>


<li><a href= " https://docs.python.org/3/library/sqlite3.html">Python-Sqlite3</a>


<li><a href=" http://www.python-simple.com/python-autres-modules-non-standards/openpyxl.php"></a><li>


<li><a href=" https://sql.sh/">SQL</a></li>

<li><a href= "https://en.wikipedia.org/wiki/Database_normalization">Database_normalization-wiki</a></li>

<li><a href= "https://docs.python.org/fr/3/library/re.html">module_re</a></li>

   
  </div>

{% endblock %}