{% extends "base.html" %}

{% block content %}

<button class="button is-white"></button>
<div class="tile is-parent">
    <article class="tile is-child notification is-white">
    </article>
</div>
<div class="tile is-parent">
    <div class="tile is-child">
        <p class="title">Obtenez des statistiques sur les matières selon les critères de votre choix</p>
        <p>Laisser un paramètre vide ou sur "Ne pas prendre en compte" pour ne pas filtrer selon celui-ci</p>
        <p>Double-cliquez sur un champ pour voir les valeurs possibles</p>
    </div>
</div>
<div class="tile is-parent">
    <form action="/curieux_stats" method="GET">
        <div class="tile is-child">
            <label for="epreuve">Epreuve: (Champ obligatoire)</label>
            <input list="list_epreuve" type="text" id="epreuve" name="epreuve" style="width: 250px;">
            <datalist id="list_epreuve">
                {% for elem in epreuves: %}
                <option value="{{ elem[1] }}">{{ elem[1] }}</option>
                    {% endfor %}
            </datalist>
        </div>
        <div class="tile is-child">
            <label for="ville_nai">Ville de naissance:</label>
            <input list="list_ville_nai" type="text" id="ville_nai" name="ville_nai">
            <datalist id="list_ville_nai">
                <option value="Ne pas prendre en compte">Ne pas prendre en compte</option>
                {% for elem in ville: %}
                <option value="{{ elem }}">{{ elem }}</option>
                    {% endfor %}
            </datalist>
        </div>
        <div class="tile is-child">
            <label for="ville_res">Ville de résidence:</label>
            <input list="list_ville_res" type="text" id="ville_res" name="ville_res">
            <datalist id="list_ville_res">
                <option value="Ne pas prendre en compte">Ne pas prendre en compte</option>
                {% for elem in ville: %}
                <option value="{{ elem }}">{{ elem }}</option>
                    {% endfor %}
            </datalist>
        </div>
        <div class="tile is-child">
            <label for="ville_ecrit">Ville des écrits:</label>
            <input list="list_ville_ecrit" type="text" id="ville_ecrit" name="ville_ecrit">
            <datalist id="list_ville_ecrit"><option value="Ne pas prendre en compte">Ne pas prendre en compte</option>
                {% for elem in ville: %}
                <option value="{{ elem }}">{{ elem }}</option>
                    {% endfor %}
            </datalist>
        </div>
        <div class="tile is-child">
            <label for="pays_nai">Pays de naissance:</label>
            <input list="list_pays_nai" type="text" id="pays_nai" name="pays_nai">
            <datalist id="list_pays_nai"><option value="Ne pas prendre en compte">Ne pas prendre en compte</option>
                {% for elem in pays: %}
                <option value="{{ elem }}">{{ elem }}</option>
                    {% endfor %}
            </datalist>
        </div>
        <div class="tile is-child">
            <label for="pays_res">Pays de résidence:</label>
            <input list="list_pays_res" type="text" id="pays_res" name="pays_res">
            <datalist id="list_pays_res"><option value="Ne pas prendre en compte">Ne pas prendre en compte</option>
                {% for elem in pays: %}
                <option value="{{ elem }}">{{ elem }}</option>
                    {% endfor %}
            </datalist>
        </div>
        <div class="tile is-child">
            <label for="serie_bac">Série bac:</label>
            <input list="list_serie" type="text" id="serie_bac" name="serie_bac" style="width: 300px;">
            <datalist id="list_serie"><option value="Ne pas prendre en compte">Ne pas prendre en compte</option>
                {% for elem in serie: %}
                <option value="{{ elem }}">{{ elem }}</option>
                    {% endfor %}
            </datalist>
        </div>
        <div class="tile is-child">
            <label for="mention_bac">Mention au bac:</label>
            <input list="list_mention" type="text" id="mention_bac" name="mention_bac">
            <datalist id="list_mention"><option value="Ne pas prendre en compte">Ne pas prendre en compte</option>
                {% for elem in mention: %}
                <option value="{{ elem }}">{{ elem }}</option>
                    {% endfor %}
            </datalist>
        </div>
        <div class="tile is-child">
            <label for="csp_pere">CSP du père:</label>
            <input list="list_csp_pere" type="text" id="csp_pere" name="csp_pere" style="width: 350px;">
            <datalist id="list_csp_pere"><option value="Ne pas prendre en compte">Ne pas prendre en compte</option>
                {% for elem in csp: %}
                <option value="{{ elem }}">{{ elem }}</option>
                    {% endfor %}
            </datalist>
        </div>
        <div class="tile is-child">
            <label for="csp_mere">CSP de la mère:</label>
            <input list="list_csp_mere" type="text" id="csp_mere" name="csp_mere" style="width: 350px;">
            <datalist id="list_csp_mere"><option value="Ne pas prendre en compte">Ne pas prendre en compte</option>
                {% for elem in csp: %}
                <option value="{{ elem }}">{{ elem }}</option>
                    {% endfor %}
            </datalist>
        </div>
        <div class="button">
            <button type="submit">Calcul de statistiques</button>
        </div>
    </form>
    <div class="tile is-child"></div>
</div>
{% endblock %}