{% extends "base.html" %}

{% block content %}
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<section class="carousel">
  <ol class="carousel__viewport">
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide">
      <img src="{{url_for('static', filename='home-slider-1.jpg')}}" style="width:100%" alt='Logo IMT'>
      <div class="carousel_content">
        <p>TEST</p>
      <div class="carousel__snapper">
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide">
        <img src="{{url_for('static', filename='home-slider-2.jpg')}}" style="width:100%" alt='Logo IMT'>
      <div class="carousel_content">
        <p>TEST</p>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide">
        <img src="{{url_for('static', filename='home-slider-3.jpg')}}" style="width:100%" alt='Logo IMT'>
      <div class="carousel_content">
        <p>TEST</p>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide4"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide4"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide3"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide1"
         class="carousel__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4"
           class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>

      </div>
</section>
<section class="hero  is-fullheight has ">

        <div class="hero-head">
            
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
    <h3 class="title">JE SUIS</h3>
    &thinsp;
    <div class="box">
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                     <div> <a href="http://127.0.0.1:5000/Candidat"  class="button is-block is-info is-large is-fullwidth"> Un candidat </a> <div>
                </div>
            </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                     <div> <a href="http://127.0.0.1:5000/Prof" class="button is-block is-info is-large is-fullwidth"> Un professeur</a><div>
                </div>
            </div>
            <div>
            &nbsp;
            </div>
      
             <div class="field">
                <div class="control">
                     <div> <a href="http://127.0.0.1:5000/Admin" class="button is-block is-info is-large is-fullwidth"> Un administrateur</a><div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                     <div> <a href="http://127.0.0.1:5000/Curieux" class="button is-block is-info is-large is-fullwidth"> Curieux</a><div>
                </div>
              <div>
            &nbsp;
            </div>  
            </div>
        </form>
    </div>
</div>

{% endblock %}