{% extends "base.html" %}

{% block content %}
   <body>
      <form action = "http://localhost:5000/Register" method = "post">
         <p  align="left">  code </p>
         <p> <input type = "text" name = "nm" /></p>
         <p align="left">civ_lib</p>
         <p><input type = "text" name = "nm" /></p>
         <p  align="left">  nom text  </p>
         <p ><input  type = "text" name = "nm" /></p>
         <p align="left">  prenom text</p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  autre_prenoms text</p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  date_naissance  ,</p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  arr_naissance  </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">ville_naissance text </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  code_pays_naissance  </p>
         <p><input type = "text" name = "nm" /></p>            
         <p align="left">  francais  </p>
         <p><input type = "text" name = "nm" /></p>         
         <p align="left">  ad_1 text </p>
         <p><input type = "text" name = "nm" /></p>         
         <p align="left">ad_2 text</p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  cod_pos  </p>
         <p><input type = "text" name = "nm" /></p>         
         <p align="left">  com </p>
         <p><input type = "text" name = "nm" /></p>         
         <p align="left">  pay_adr  </p>
         <p><input type = "text" name = "nm" /></p>      
         <p  align="left">  code_pay_natio  </p>
         <p><input type = "text" name = "nm" /></p>         
         <p  align="left">  mel text </p>
         <p><input type = "text" name = "nm" /></p>         
         <p align="left">  tel text</p>
         <p><input type = "text" name = "nm" /></p>         
         <p  align="left">  por text</p>
         <p><input type = "text" name = "nm" /></p>         
         <p align="left">email text</p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  etablissement  </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  Epreuve_1  </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  Option_1 </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left"> Option_2 </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">Option_3 </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  Option_4 </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  code_ville_ecr </p>
         <p><input type = "text" name = "nm" /></p>
         <p  align="left"> code_concours  </p>
         <p><input type = "text" name = "nm" /></p>
         <p  align="left"> voie  </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left"> code_serie </p>
         <p><input type = "text" name = "nm" /></p>
         <p  align="left">  code_mention  </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  bac_date  </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">sujet_tipe text </p>
         <p><input type = "text" name = "nm" /></p>
         <p  align="left"> ine </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  cod_csp_pere  </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  cod_csp_mere </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">  code_etat_dossier  </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left"> handicap </p>
         <p><input type = "text" name = "nm" /></p>
         <p align="left">can_dep_bac  </p> <p><input type = "text" name = "nm" /></p>
           
         <p><input type = "submit" value = "submit" /></p>
      </form>   
   </body>
{% endblock %}