{% extends "base.html" %}

{% block content %}
<div class="tile is-parent">
      <article class="tile is-child notification is-white">
        </div>
      </article>
  </div>
  <div class="tile is-parent">
      <article class="tile is-child notification is-white">
        </div>
      </article>
  </div>
<div class="tile is-parent">
      <article class="tile is-child notification is-white">
        <p class="title" align="right"><b>{{etabl[0][1]}}</b></p>
        <p class="title" align="right"><b>INE Etablissement:</b>{{name}}</p>
        <p class="title" align="right"><b>Elèves inscrits:</b>{{k}}</p>
        </div>
      </article>
  </div>
  <ul>
    {% for r in n %}
  <div class="tile is-parent">
      <article class="tile is-child notification is-info">
        <p class="content">
        {% for mat in r %}
        {%if mat==r[1]%}
     <li><b>FILIERE:</b>{{ mat[2][0][0]}} </li>
     {%else%}
        <li></li>
      {%endif%}
    {% endfor %}
        {%if r[0][1]==None%}
         <p > <b>Code Candidat:</b> {{r[0][0]}}</p>
       <p > <b>Prénom:</b> {{r[0][2]}}</p>
        {%else%}
     <p ><b>Code Candidat: </b>{{r[0][0]}}</p>
      <p > <b> Nom: </b>{{r[0][1]}}</p>
      <p > <b>Prénom:</b>{{r[0][2]}}</p>
      {%endif%}
     {% for mat in r %}
     {%if mat==r[0]%}
     <li> </li>
     {%else%}
        <li><b>{{ mat[0][0]}}</b>({{ mat[1][0]}}): {{ mat[-1]}}</li>
      {%endif%}
    {% endfor %}
   
          </p>
      </article>
        </div>
  </div>
 {% endfor %}
      </ul>
{% endblock %}