{% extends "base.html" %}

{% block content %}

<button class="button is-white"></button>
<div class="tile is-parent">
    <article class="tiel is-child notification is-white">
    </article>
</div>
<h1>Statistique de la matiere {{matiere}}</h1><br>
<div class="tile is-parent">
        <table class="table is-bordered">
            <tr>
                <td>moyenne</td>
                <td>1er quartile</td>
                <td>médiane</td>
                <td>3ème quartile</td>
                <td>Variance</td>
                <td>Minimum</td>
                <td>Maximum</td>
                <td>échantillons</td>
            </tr>
            <tr>
            {% for elem in list: %}
                <td>{{elem}}</td>
            {% endfor %}
            </tr>
        </table>
</div>
<img src='{{image}}' alt="graph">
<a href="./statform"> Retour à la selection d'une matière</a>
{% endblock %}